* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.main_container {
  font-family: 'RobotoLight', 'system-ui';
}

.main_container .header_section {
  background-color: #0f9aef;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.main_container .header_section .left_section {
  display: flex;
  align-items: center;
}

.main_container .header_section .left_section .logo {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.main_container .header_section .left_section .logo img {
  border-radius: 50%
}

.main_container .header_section .left_section .number_container .contact {
  color: #fff;
  font-size: 14px;
  margin-left: 20px;
}

.main_container .header_section .right_section .button_title {
  border: 1px;
  height: 40px;
  border-radius: 20px;
  background-color: #ff7800;
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
  font-size: 14px;
}

.main_container .header_section .right_section .button_title .left_info {
  color: #fff;
  border-right: 2px solid;
  padding-right: 20px;
  font-size: 14px;
}

.main_container .header_section .right_section .button_title .right_info {
  color: #fff;
  margin-right: 4px;
  padding-left: 20px;
  font-size: 14px;
}

.main_container .menu_container {
  margin-bottom: 10px;
}

.main_container .menu_container .brand_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_container .menu_container .brand_logo .logo_container {
  height: 40px;
  width: 210px;
}

.main_container .menu_container .brand_logo .menu_list {
  font-size: 12px;
}

.main_container .menu_container .brand_logo .menu_list .menu {
  margin-right: 15px;
  cursor: pointer;
}

.main_container .menu_container .brand_logo .menu_list .button_text {
  border: 1px solid #0f9aef;
  border-radius: 20px;
  padding: 9px;
  margin-right: 15px;
  color: #0f9aef;
  cursor: pointer;
}

.main_container .menu_container .brand_logo .mobile_menu {
  display: none;
  height: 20px;
  width: 20px;
  background-image: url("../images/Hamburger_icon.svg.png");
}

.main_container .baner_section {
  margin-bottom: 40px;
}

.main_container .baner_section .baner_image {
  position: relative;
  height: 400px;
}

.main_container .baner_section .baner_image img {
  object-fit: cover;
}

.main_container .baner_section .baner_image .tratement_list {
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  color: #fff;
}

.main_container .baner_section .baner_image .tratement_list .list {
  font-size: 22px;
  margin-bottom: 8px;
  opacity: 0.7;
}

.main_container .baner_section .baner_image .tratement_list .list2 {
  font-size: 42px;
  margin-bottom: 8px;
  opacity: 0.7;
}

.main_container .baner_section .baner_image .tratement_list .list3 {
  font-size: 58px;
  margin-bottom: 10px;
  font-weight: 700;
}

.main_container .baner_section .baner_image .tratement_list .list4 {
  font-size: 14px;
  opacity: 0.7;
  line-height: 1.5;
}

.main_container .baner_section .baner_image .tratement_list .list5 {
  font-size: 14px;
  margin-bottom: 30px;
  opacity: 0.7;
  line-height: 1.5;
}

.main_container .baner_section .baner_image .tratement_list button {
  background-color: #0f9aef;
  border: none;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.3);
}

.main_container .treatment_container {
  margin-bottom: 40px;
}

.main_container .treatment_container .treatment_inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main_container .treatment_container .treatment_inner .treatment_title {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 800;
  font-family: 'RobotoRegular';
}

.main_container .treatment_container .middle_para {
  margin-bottom: 15px;
  font-family: 'RobotoRegular';
  line-height: 20px;
}

.main_container .treatment_container .learn {
  padding: 7px;
  border: 1px solid #0f9aef;
  border-radius: 15px;
  width: 92px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  font-family: 'RobotoRegular';
}

.main_container .treatment_container .treatment_type_tiles .tratment_content_wrapper {
  margin-bottom: 20px;
}

.main_container .treatment_container .treatment_type_tiles {
  display: flex;
  flex-wrap: wrap;
}

.main_container .treatment_container .col-sm-3 {
  position: relative;
}

.main_container .treatment_container .treatment_type_tiles .image_wrapper {
  height: 156px;
  margin-bottom: 10px;
}

.main_container .treatment_container .treatment_type_tiles .basic_title {
  font-family: 'RobotoRegular';
  font-size: 14px;
}

.main_container .treatment_container .controler .second_middle .first img {
  width: 156px;
  height: 156px;
  margin-right: 10px;
  border-radius: 4px;
}

.main_container .treatment_container .controler .second_middle .second {
  display: flex;
  margin-bottom: 40px;
}

.main_container .treatment_container .controler .second_middle .second .col-sm-3 {
  position: relative;
}

.main_container .treatment_container .controler .second_middle .second .col-sm-3 .basic_title {
  position: absolute;
  top: 160px;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 13px;
}

.main_container .treatment_container .controler .second_middle .second .col-sm-3 img {
  width: 156px;
  height: 156px;
  margin-right: 10px;
  border-radius: 4px;
}

.main_container .tratment_section {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.main_container .tratment_section .tratement_video_area video {
  width: 100%;
}

.main_container .tratment_section .right_details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #000;
  height: 100%;
}

.main_container .tratment_section .title {
  margin-bottom: 15px;
  font-size: 25px;
  font-family: 'RobotoBold';
}

.main_container .tratment_section .middle_para {
  margin-bottom: 15px;
  font-family: 'RobotoRegular';
  line-height: 20px;
}

.main_container .tratment_section .learn {
  padding: 10px 15px;
  border: 2px solid #0f9aef;
  border-radius: 25px;
  width: 110px;
  font-size: 12px;
  text-align: center;
  font-family: 'RobotoRegular';
  cursor: pointer;
}

.main_container .experiance_container {
  position: relative;
  margin-bottom: 25px;
  background-color: #f5f5f5;
  padding-top: 60px;
  padding-bottom: 60px;
}

.main_container .experiance_container .third_container {
  background-color: #f5f5f5;
  text-align: center;
  padding-top: 40px;
  height: 667px;
}

.main_container .experiance_container .title {
  margin-bottom: 20px;
  font-size: 19px;
  font-family: 'RobotoBold';
  text-align: center;
}

.main_container .experiance_container .experiance_tiles {
  display: flex;
  flex-wrap: wrap;
}

.main_container .experiance_container .experiance_tiles .img_wrapper {
  width: 170px;
  height: 170px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.main_container .experiance_container .experiance_tiles .exp_tile {
  max-width: 226px;
}

.main_container .experiance_container img {
  border-radius: 70px;
  height: 138px;
  width: 138px;
  margin-bottom: 10px;
}

.main_container .experiance_container .name {
  margin-bottom: 10px;
  color: #0f9aef;
  font-family: 'RobotoRegular';
  text-align: center;
}

.main_container .experiance_container .paragraph {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  font-family: 'RobotoRegular';

}

.main_container .Meet_the_team {
  margin-bottom: 40px;
}

.main_container .Meet_the_team .slider_container {}

.main_container .Meet_the_team .slider_container .slider_tile_wrapper {}

.main_container .Meet_the_team .slider_container .info_wrapper {
  max-width: 360px;
  border-radius: 5px;
  background-color: #fff;
}

.main_container .Meet_the_team .slider_container .img-container {
  margin-bottom: 20px;
  height: 220px;
}

.main_container .Meet_the_team .slider_container .img-container img {
  object-fit: cover;
}

.main_container .Meet_the_team .slider_container .name {
  font-family: 'RobotoRegular';
  margin-bottom: 5px;
}

.main_container .Meet_the_team .slider_container .designation {
  margin-bottom: 15px;
}

.main_container .Meet_the_team .slider_container .data {
  font-size: 14px;
  line-height: 18px;
}

.slider_tile_wrapper .main_container .Meet_the_team .carousel_copy .maintain .carousel {
  display: flex;
}

.main_container .Meet_the_team .team .title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  font-family: 'RobotoBold';
  margin-bottom: 20px;
}

.main_container .Meet_the_team .info_section {
  border-radius: 3px;
  width: 255px;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0f9aef;
  color: #fff;
}

.main_container .Meet_the_team .info_section .title {
  font-size: 15px;
  line-height: 1.4;
  text-align: center;
}

.main_container .Meet_the_team .info_section .location {
  font-size: 30px;
  font-family: 'RobotoBold';
  line-height: 3;
}

.main_container .Meet_the_team .info_section .appoinment {
  font-size: 14px;
  border-radius: 20px;
  background-color: #fff;
  color: #3a99d4;
  padding: 10px 15px;

}

.main_container .success_story {
  background-color: #f5f5f5;
}

.main_container .success_story .success_container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.main_container .success_story .success_container .success_title {
  text-align: center;
  font-size: 22px;
  margin-bottom: 30px;
  font-family: 'RobotoBold';
}

.main_container .success_story .success_container .col-md-9 .story_container .video_container {
  width: 100%;
  margin-bottom: 40px;
}

.main_container .success_story .success_container .col-md-9 .story_container .video_container video {
  width: 100%;
}

.main_container .success_story .success_container .col-md-9 .story_container .paragraph {
  font-size: 14px;
  line-height: 1.4;
  font-family: 'RobotoRegular';
}

.main_container .success_story .success_container .col-md-3 .story_container .video_section {
  margin-bottom: 15px;
}

.main_container .success_story .success_container .col-md-3 .story_container video {
  width: 100%;
}

.main_container .success_story .success_container .col-md-3 .story_container .paragraph {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 18px;
  font-family: 'RobotoRegular';
}

.main_container .featured_blog {
  padding-top: 40px;
  padding-bottom: 40px;
}

.main_container .featured_blog .featured_section .featured_title {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'RobotoBold';
}

.main_container .featured_blog .featured_section .paragraph {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
  font-family: 'RobotoRegular';
}

.main_container .featured_blog .image_wrapper {
  margin-bottom: 20px;
}

.main_container .featured_blog .manual {
  border-radius: 20px;
  background-color: #0f9aef;
  padding: 6px 10px;
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
  margin-bottom: 15px;
  max-width: 125px;
}

.main_container .featured_blog .paragraph {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 10px;
  font-family: 'RobotoRegular';
}

.main_container .featured_blog .paragraph2 {
  margin-bottom: 10px;
  line-height: 1.71;
  font-size: 14px;
  color: #000;
  font-family: 'RobotoRegular';
}

.main_container .featured_blog .since {
  color: #0f9aef;
  font-size: 12px;
  font-family: 'RobotoRegular';
}

.main_container .featured_blog .button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.main_container .featured_blog .button .button_title {
  border: 1px solid #3a99d4;
  border-radius: 20px;
  width: 140px;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
}

.main_container .better_faster {
  margin-bottom: 40px;
  position: relative;
}

.main_container .better_faster .faster_container {}

.main_container .better_faster .faster_container .thumbnail {
  height: 288px;
}

.main_container .better_faster .faster_container .faster_title {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_container .better_faster .faster_container .faster_title .title {
  font-size: 18px;
  color: #fff;
  line-height: 1.89;
  font-family: 'RobotoBold';
  margin-bottom: 20px;
}

.main_container .better_faster .faster_container .lead_title {
  color: #3a99d4;
  text-align: center;
  position: relative;
}

.main_container .better_faster .faster_container .lead_title .left_details, .right_details {
  border: 1px solid #fff;
  border-radius: 30px;
  background-color: #fff;
  cursor: pointer;
  color: #3a99d4;
  font-family: 'RobotoRegular';
  font-size: 14px;
  padding: 15px 25px;
  margin-right: 15px;
  position: relative;
}

.main_container .better_faster .faster_container .lead_title .right_details {
  background-color: transparent;
  color: #fff;
}

.main_container .better_faster .faster_container .lead_title .or {
  border-radius: 50%;
  color: #3a99d4;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
  border: 2px solid #3a99d4;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  right: -30px;
  height: 46px;
  width: 46px;
}
.main_container .better_faster .faster_container .lead_title .mobile_view {
  display: none;
}
.main_container .newslatter .container_news .newslatter_section .title {
  color: #0f9aef;
  font-size: 30px;
  margin-bottom: 10px;
  font-family: 'RobotoBold';
}

.main_container .newslatter .container_news .newslatter_section .sub_title {
  font-family: 'RobotoRegular';
}

.main_container .newslatter .container_news {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
}

.main_container .newslatter .container_news .email_container {
  position: relative;
}

.main_container .newslatter .container_news .email_container .input_email .email {
  width: 402px;
  border-radius: 30px;
  padding: 8px 4px 8px 20px;
  border: solid 2px #f1f1f1;
  background-color: #f1f1f1;
  font-size: 14px;
  color: #656565;
}

.main_container .newslatter .container_news .email_container .input_email .icon_container {
  height: 100%;
  width: 38px;
  background-color: #0f9aef;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0;
}

.main_container .newslatter .container_news .email_container .input_email .icon_container .msg-icon {
  margin-right: 0;
}

.main_container .newslatter .footer_menu_container {
  padding: 20px 0;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 30px;
}

.main_container .newslatter .footer_menu_container li {
  margin-bottom: 10px;
  color: #505050;
}

.main_container .newslatter .footer_menu_container .color {
  color: #0f9aef;
  font-family: 'RobotoRegular';
}

.main_container .newslatter .footer_menu_container .call_now {
  font-family: 'RobotoBold';
}

.main_container .newslatter .footer_menu_container .title {
  margin-bottom: 10px;
  font-family: 'RobotoRegular';
  text-transform: uppercase;
}

.main_container .newslatter .second_newslatter .sector {
  display: flex;
  justify-content: space-evenly;
}

.main_container .newslatter .second_newslatter .sector .second_news .col-sm-3 .title {
  font-size: 18px;
  font-weight: 500;
  margin: 25px 14px 27px 60px;
}

.main_container .newslatter .second_newslatter .sector .second_news .col-sm-3 .sub_title {
  margin: 25px 14px 27px 60px;
  line-height: 1.7;
}

.main_container .newslatter .second_newslatter .sector .second_news .col-sm-3 .color {
  color: #0f9aef;
}

.footer_container {
  display: flex;
  justify-content: space-between;
}

.footer_container .disc {
  color: #505050;
  font-size: 14px;
}

.footer_container .copy {
  color: #a8a8a8;
  font-size: 14px;
}

/* media query start */
@media only screen and (max-width: 1200px) {
  .p_d_main {
    padding: 0 80px;
  }

  .main_container .header_section .left_section .logo {
    height: 25px;
    width: 25px;
  }

  .main_container .header_section .right_section .button_title {
    padding: 0 20px;
  }

  .main_container .header_section .right_section .button_title .left_info {
    padding-right: 15px;
  }

  .main_container .header_section .right_section .button_title .right_info {
    padding-left: 15px;
  }

  .main_container .menu_container .brand_logo .logo_container {
    height: 36px;
    width: 200px;
  }

  /* header end */
  .main_container .Meet_the_team .slider_container .info_wrapper {
    max-width: 280px;
  }
}

@media only screen and (max-width: 992px) {
  .p_d_main {
    padding: 0 60px;
  }

  .main_container .header_section {
    height: auto;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .main_container .header_section .left_section {
    margin-bottom: 10px;
  }

  .main_container .header_section .right_section .button_title .left_info {
    color: #fff;
    border-right: 2px solid;
    padding-right: 20px;
    font-size: 14px;
  }

  .main_container .header_section .right_section .button_title .right_info {
    color: #fff;
    margin-right: 4px;
    padding-left: 20px;
    font-size: 14px;
  }

  .main_container .menu_container .brand_logo .logo_container {
    height: 30px;
    width: 160px;
  }

  .main_container .menu_container .brand_logo .menu_list {
    font-size: 12px;
  }

  .main_container .menu_container .brand_logo .menu_list .menu {
    margin-right: 10px;
  }

  .main_container .menu_container .brand_logo .menu_list .menu:last-child {
    margin-right: 0px;
  }

  /* header end */
  /* banner section */
  .main_container .baner_section .baner_image .tratement_list .list {
    font-size: 15px;
  }

  .main_container .baner_section .baner_image .tratement_list .list2 {
    font-size: 28px;
  }

  .main_container .baner_section .baner_image .tratement_list .list3 {
    font-size: 35px;
  }

  .main_container .baner_section .baner_image {
    height: 350px;
  }

  /* banner end */
  /* tratment section */
  .main_container .treatment_container .treatment_inner {
     margin-bottom: 20px;
  }
  /* tratment section end */
/* experiance container start */
  .main_container .experiance_container .experiance_tiles .exp_tile {
    margin-bottom: 20px;
  }
  /* experiance section end */
 .Meet_the_team .carousel_copy {
    margin-bottom: 20px;
  }
  .main_container .Meet_the_team .info_section { 
     margin: auto;
  }
}

@media only screen and (max-width: 768px) {
  .p_d_main {
    padding: 0 40px;
  }

  .main_container .header_section .left_section .logo {
    height: 20px;
    width: 20px
  }

  .main_container .header_section .right_section .button_title {}

  .main_container .header_section .right_section .button_title .left_info {}

  .main_container .header_section .right_section .button_title .right_info {}

  .main_container .menu_container {
    margin-bottom: 10px;
  }

  .main_container .menu_container .brand_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main_container .menu_container .brand_logo .logo_container {
    height: 30px;
    width: 150px;
  }

  .main_container .menu_container .brand_logo .menu_list {
    display: none;
  }

  .main_container .menu_container .brand_logo .mobile_menu {
    display: block;
  }

  /* header end */
  /* banner section */
  .main_container .baner_section .baner_image {
    height: 450px;
  }
  .main_container .baner_section .baner_image img {
    object-fit: cover;
  }
  .main_container .Meet_the_team .slider_container .img-container {
    height: auto;
  }

  /* banner end */
  .main_container .Meet_the_team .slider_container .info_wrapper {
    max-width: 190px;
  }
  .main_container .featured_blog .featured_tile {
    margin-bottom: 20px;
  }
  /*  */
  .main_container .better_faster .faster_container .lead_title .or {
    display: none;
  }
  .main_container .better_faster .faster_container .lead_title .mobile_view {
    display: block;

    position: relative;
  }
  .main_container .better_faster .faster_container .lead_title {
    color: #3a99d4;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main_container .better_faster .faster_container .lead_title .or { 
    right: unset;
    top: unset;
    margin: 10px 0px;
  }
  /*  */
  .main_container .newslatter .container_news {
    display: block;
  }
}

@media only screen and (max-width: 480px) {

  /* header end */
}